<app-application [data]="{
    title: 'The Legend Of Mualuenie',
    description: 'The Legend Of Mualuenie ist die erste Anwendung, die Mua Entertainment veröffentlicht hat. In diesem Spiel, spielt man den kleine Müaluenie und versucht möglichst viele Hindernisse zu überwinden. Weil der Entwickler dieses Unity-Projekt mittlerweile schon das achte Mal gelöscht und wieder angefangen hat, hat sich seit Juni 2021 nichts verändert. Das ist deshalb auch keine fertige Version und kann auch ein paar Fehler enthalten.',
    imageURL: 'the-legend-of-mualuenie.webp',
    downloadURL: 'the-legend-of-mualuenie.zip',
    downloadSize: '27,0 MB',
    installationSize: '65,6 MB',
    type: 'Unity',
    publishDate: '13.06.2021'
}"></app-application>
<app-application [data]="{
    title: 'Conquest Of The Universe',
    description: 'Conquest Of The Universe ist ein Unity-Spiel für Windows, dass im Verhältnis zu den anderen Spielen, die hier angeboten werden relativ fehlerfrei funktioniert. In diesem Shooter befreit man mit seinem Raumschiff ein ganzes Sonnensystem von Ufos. Neben den Ufos gilt es hier auch Naturgewalten, wie scharzen Löchern oder Asteroiden zu trotzen. Updates wird es wohl keine mehr geben, weil der schusselige Entwickler das zugehörige Unity-Projekt gelöscht hat.',
    imageURL: 'conquest-of-the-universe.webp',
    downloadURL: 'conquest-of-the-universe.zip',
    downloadSize: '41,8 MB',
    installationSize: '112 MB',
    type: 'Unity',
    publishDate: '05.01.2022'
}"></app-application>
<app-application [data]="{
    title: 'VTubeMua',
    description: 'VTubeMua ist eine praktische und simple VTube-App, die man für Videos und Live-Streams verwenden kann. Man kann außerdem seinen eigenen Avatar erstellen, wenn man kein Müaluenie sein will und ein beliebiges Audioeingabegerät auswählen.',
    imageURL: 'vtubemua.webp',
    downloadURL: 'vtubemua.msi',
    downloadSize: '1,30 KB',
    installationSize: '2,30 MB',
    type: 'Windows Forms',
    publishDate: '11.10.2022'
}"></app-application>