<main class="box">
    <div class="logo">
        <img src="assets/img/large-logo.webp">
        <label>ENTERTAINMENT</label>
    </div>
    <p>Willkommen bei der offizielen Website von Mua Entertainment. Schön dass du zu uns gefunden hast. Mua Entertainment ist eine von Hobbyentwicklern gegründete Company. Wir bieten dir hier folgendes:</p>
    <div class="list">
        <li>kostenlose Apps und Spiele</li>
        <li>die vogelwildesten Zitate</li>
        <li>die verrücktesten Artikel der Mua-News</li>
        <li>eine Community-Chat</li>
        <li>die Möglichkeit zu liken und zu kommentieren</li>
    </div>
</main>